h1.a {
  text-align: center;
  text-transform: capitalize;
  color: orange;
  font-family: "Courier New", sans-serif;
  font-size: 100px;
}

h1.b {
  text-align: center;
  text-transform: lowercase;
  color: orange;
  font-family: "Courier New", sans-serif;
  font-size: 60px;
}

body {
  background: ;
  font-family: 'Courier New', sans-serif;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: black;

  background-image: url(https://cdn.shopify.com/s/files/1/1536/9839/files/REL-FMfallcolorsBIG_large.jpg?v=1506410026) ;
  background-position: center;
  background-repeat:
  margin: 5px;
 border: 1px solid #ccc;
 float: left;
 width: 180px;




}
