/* This is the div class for the navigation bar background box. It is pastel yellow */
.topnav {
  overflow: hidden;
  background-color:  #FEF39F ;
}

/* This is the div class for the text in the navigation bar. It makes it black, padded,
and not underlined.*/
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

/* This div controls the hover capabilities of the navigation bar and what the
 animation is when the mouse hovers on the box. When hovered over, the background turns grey */
.topnav a:hover {
  background-color:#CCCCCC;
}

/* makes the header sizing, as well as the animation last 12s, repeat forever, and pacing. */
h1 {
  animation-name: test;
  padding: 20px;
  height: 80px;
  width: 800px;
  display: block;
  font-size: 55px;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*this dictates what each keyframe of the animation looks like. for each keyframe,
the text is a different color of the rainbow.*/
@keyframes test {
  0% {color: black;}
  10% {color: #FFBAE2;}
  25% {color: #FACF98;}
  40% {color: #FAF298;}
  55% {color: #BAFA98;}
  70% {color: #98D2FA}
  85% {color: #D5B8FA}
  100% {color: black;}
}

/* make the body element have a white background,
systme-ui font, and gives a margin and font size.*/
body {
  background-color: white;
  font-family: system-ui;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

/* makes all the images shift to the right*/
img {
  float: right;
}

/*makes the introduction text larger than the rest*/
div.intro {
  font-size: 24px;
}


/*makes a yellow border of the webpage divs each time they are hovered upon.*/
div.blue:hover {
  border: 4px solid yellow;
}
div.pink:hover {
  border: 4px solid yellow;
}
div.green:hover {
  border: 4px solid yellow;
}
div.yellow:hover {
  border: 4px solid yellow;
}
div.orange:hover {
  border: 4px solid yellow;
}
div.purple:hover {
  border: 4px solid yellow;
}


/*margin for each div so it doesn't look to cramped*/
div {
  margin: 70px;
}

/*assigns a different color of the rainbow to each div, and padding on the sides.*/
div.blue {
  background-color: #CDEEFF;
  padding: 30px;
}
div.yellow{
  background-color: #FEF39F;
  padding: 30px;
}
div.pink{
  background-color: #FFD4ED;
  padding: 30px;
}
div.purple {
  background-color: #E9D4FF;
  padding: 30px;
}
div.green {
  background-color: #D7F7A4;
  padding: 30px;
}
div.orange {
  background-color: #FED19F;
  padding: 30px;
}
