.topnav {
  overflow: hidden;
  background-color:  #E3E3E3 ;
}

/* This is the div class for the navigation bar text in all of the pages. It is white. */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 15px;
}

/* This div controls the hover capabilities of the navigation bar and what the
 animation is when the mouse hovers on the box. */
.topnav a:hover {
  background-color:#CCCCCC;
  color: black;
}

h1 {
  float: center;
  animation-name: test;
  position: relative;
  padding: 20px;
  height: 80px;
  width: 800px;
  display: block;
  font-size: 30px;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

h1:hover {
  color: red;
}

@keyframes test {
  0% {font-size: 40px;}
  50% {font-size: 50px;}
  100% {font-size: 40px;}
}

p {
  padding:5px;
}

body {
  background-color: white;
  font-family: system-ui;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

img {
  float: right;
}

.blue:hover{
box-shadow: inset 0 0 0 5px #CCCCCC;
}

.pink:hover{
box-shadow: inset 0 0 0 5px #CCCCCC;
}

.green:hover{
box-shadow: inset 0 0 0 5px #CCCCCC;
}

.yellow:hover{
box-shadow: inset 0 0 0 5px #CCCCCC;
}

.orange:hover{
box-shadow: inset 0 0 0 5px #CCCCCC;
}

.purple:hover{
box-shadow: inset 0 0 0 5px #CCCCCC;
}

.pink:hover{
box-shadow: inset 0 0 0 5px #CCCCCC;
}

div {
  margin: 50px;
}


div.blue {
  background-color: #CDEEFF;
  padding: 30px;

}

div.yellow{
  background-color: #FEF39F;
  padding: 30px;
}

div.pink{
  background-color: #FBD9FF;
  padding: 30px;
}

div.purple {
  background-color: #CDCDFF;
  padding: 30px;
}

div.green {
  background-color: #D7F7A4;
  padding: 30px;
}

div.orange {
  background-color: #FED19F;
  padding: 30px;
}
